*{
    margin: 0;
    padding: 0;


    --blue: rgb(40, 165, 255);
    --gray: rgb(235, 235, 235);

    --header-padding: 50px;

    --right-panel-width: 70%;

    font-family: "Helvetica", monospace, sans-serif;
}

.layout-container{
    width: 100vw;
    height: 100vh;

    display: grid;
    grid: 1fr 4fr / 1fr 5fr;
    grid-template-areas: "sidebar header"
                         "sidebar main";
}

/* Header section */

.header{
    background-color: white;
    
    grid-area: header;

    display: grid;
    grid-template-rows: 1fr 2fr;

    font-size: 1.5rem;
    
    margin-top: 10px;
}

.search-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--header-padding);
}

.searchbar{
    width: 800px;
    height: 40px;
    
    border-radius: 25px;
    border: 0;

    background-color: var(--gray);
}

.search-section,
.account-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;

}

.header p{
    font-weight: bold;
}

.header-second-row{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 var(--header-padding);
}

.author-info{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tiny-text{
    font-size: 1rem;
}

.author-title{
    font-size: 1.5rem;
}

.button-container{
    display: flex;
    gap: 2rem;
}

.profile-picture{
    background-image: url(./img/1-13.jpg);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: 50%;

}

button{
    width: 125px;
    height: 50px;

    background-color: var(--blue);

    border: 0;
    border-radius: 25px;

    color: white;
    font-weight: bold;
    font-size: 1rem;
}

/* Sidebar section */

.sidebar{
    background-color: var(--blue);
    
    grid-area: sidebar;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 3em;

    padding-left: 50px;

    font-size: 1.75rem;

    padding-top: 20px;

    color: white;
}

.sidebar-icons{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.icon{
    padding-right: 15px;
}

/* Main content section */

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-content{
    grid-area: main;

    background-color: var(--gray);

    display: grid;
    grid-template-columns: 2fr 1fr;
}

.project-flex{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;

}

.your-projects-container{
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: 20px;

    padding: 15px;
}

.card{
    background-color: white;

    border-left: 10px solid rgb(222, 255, 77);
    border-radius: 25px;

    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons{
    font-size: 1.5rem;
    text-align: end;
}

.main-right-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 30px;
    padding-bottom: 25px;
}

.announcment-cotainer{
    width: var(--right-panel-width);

    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: white;

    padding: 20px;
    border-radius: 25px;
}

.announcment-divider{
    border: 1px solid #0003;
}

.trending-container{
    width: var(--right-panel-width);
    text-align: center;

    background-color: white;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;

    padding: 0px 20px;
}

.profile-banner{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
}

.profile-pic-small{
    height: 50px;
    width: 50px;
    border-radius: 50%;

    background-color: black;
    background-image: url(https://pbs.twimg.com/profile_images/891882058930307072/Ff9N-frc_400x400.jpg);
    background-size: 50px;
    background-position: 50%;
}

.profile-text{
    text-align: left;
}
